@model IEnumerable<God>

<h2>Products</h2>
<table class="table">
    <tr>
        <th>GodID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Temple_Location</th>
        <th>Parents</th>
        @*<th>Symbol</th>*@
    </tr>

    @foreach (var product in @Model)
    {
        <tr>
            <td>@product.GodID</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Temple_Location</td>
            <td>@product.Parents</td>
           @*<td>@product.Symbol</td>*@
        </tr>
    }

</table>