@model IEnumerable<God>

<h2>gods</h2>
<div style="display: block">
    <a href="/God/InsertGod/">Create a New God</a>
</div>

<table class="table">
    <tr>
        <th>GodID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Temple Location</th>
        <th>Parents</th>
        @*<th>Symbol</th>*@
    </tr>

    @foreach (var god in @Model)
    {
        <tr>
            <td><a href=/God/ViewGod/@god.GodID>@god.GodID</a></td>
            <td>@god.Name</td>
            <td>@god.Description</td>
            <td>@god.Temple_Location</td>
            <td>@god.Parents</td>
           @*<td>@god.Symbol</td>*@
        </tr>
    }

</table>